* {
    box-sizing: border-box;
}

body {
    --teal: #448885;
    --grey: #666666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
    background-size: cover;
    height: 100%;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/* Navigation Bar */
.navbar-light .navbar-brand {
    background-color: var(--teal);
    color: white;
    height: 100%;
    min-height: 3.125rem;
    top:0;
    font-size: 1.875rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.navbar-nav {
    font-family: Arial;
}

/*CSS for the container in which the code will reside */
.container {
    width:100%;
    max-width: 60rem;
    margin: 0 auto;
    clear: both;
}

/* Header color */
h1{
    color: var(--teal);
}

/* Margins for Images */
.img-thumbnail {
    margin: 10%;
}

/* CSS for images */
img {
    max-height: 12.5rem; 
    max-width: 12.5rem;
}

iframe {
    border: none;
}

/* CSS for image caption in portfolio */
.image-caption {
    font-size: 1.125rem;
    color: white;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

/* CSS for figures in portfolio */
.figure {
    overflow: hidden;
    position: relative;
    height: 25rem;
    width: 25rem;
}

.figure-caption {
    background-color: var(--teal);
    position: relative;
    width: 75%;
    bottom: 5%;
}

/* CSS for button in contact */
.btn-primary{
    background-color: var(--teal);
}

/* CSS for footer in index, portfolio, contact */
.footer {
    background-color: var(--grey);
    position: sticky;
    text-align: center;
    color:white
}
.footer:before {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    top:0;
    height: 0.5rem;
    background-color: var(--teal);
}