* {
    box-sizing: border-box;
}

body {
    --teal: #448885;
    --grey: #666666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;
    background-size: cover;
    height: 100%;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.navbar-light .navbar-brand {
    background-color: var(--teal);
    color: white;
    height: 100%;
    min-height: 3.125rem;
    top:0;
    font-size: 1.875rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.navbar-nav {
    font-family: Arial;
}

.container {
    width:100%;
    max-width: 60rem;
    margin: 0 auto;
    clear: both;
}

h1{
    color: var(--teal);
}

.card {
    align-content: center;
    margin: 11rem;
    max-width: 75rem;
}

/* Margins for Images */
.img-thumbnail {
    margin: 10%;
}

img {
    max-height: 12.5rem; 
    max-width: 12.5rem;
}
.image-caption {
    font-size: 18px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.figure {
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 400px;
}

.figure-caption {
    background-color: var(--teal);
    position: relative;
    width: 75%;
    bottom: 5%;
}

.footer {
    background-color: var(--grey);
    position: sticky;
    text-align: center;
    color:white
}
.footer:before {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    top:0;
    height: 8px;
    background-color: var(--teal);
}